<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Offers_Api</key>
	<string>http://192.168.139.26:8080/beaconretail/offers</string>
	<key>Prod_Api</key>
	<string>http://192.168.139.26:8080/beaconretail/products</string>
	<key>MainEntranceBeacon_Minor</key>
	<integer>20643</integer>
	<key>MainEntranceBeacon_Major</key>
	<integer>37372</integer>
	<key>WomenSectionBeacon_Minor</key>
	<integer>41861</integer>
	<key>WomenSectionBeacon_Major</key>
	<integer>36164</integer>
	<key>MenSectionBeacon_Minor</key>
	<integer>39431</integer>
	<key>MenSectionBeacon_Major</key>
	<integer>32673</integer>
	<key>EntryBeacon_Major</key>
	<integer>5813</integer>
	<key>EntryBeacon_Minor</key>
	<integer>506</integer>
	<key>KidSectionBeacon_Major</key>
	<integer>64990</integer>
	<key>KidSectionBeacon_Minor</key>
	<integer>59688</integer>
	<key>UUID</key>
	<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
</dict>
</plist>
